@media only screen and (max-width:1160px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {

    /*header start  */
    .nav-ul {

        display: none;
    }

    .search {
        display: none;
    }

    .nav {
        display: block;
        width: 100%;
        /* border: 2px solid; */
        display: block;
        position: relative;
    }

    .bar {
        position: absolute;
        top: 0%;
        left: 92%;
        /* width: 100%; */
        display: block;
        color: yellow;
        font-size: 16px;

    }

    .header-con {
        width: 100%;
    }

    .header-img1 {
        /* border: 2px solid; */
        width: 100%;
    }

    .header-img {
        /* border: 2px solid; */
        width: 100%;
        position: relative;
    }

    .header-h2 {
        position: absolute;
        left: -10%;
        /* transform: translate(-60px,-275px); */
        /* border: 2px solid; */
        width: 50%;
        font-size: 18px;
    }

    .header-h5 {
        position: absolute;
        top: 29%;
        left: -10%;
        /* transform: translate(-60px,-272px); */
        /* border: 2px solid; */
        width: 50%;
        font-size: 12px;
    }

    .header-p {
        position: absolute;
        top: 35%;
        left: -10%;
        /* transform: translate(-60px,-270px); */
        /* border: 2px solid; */
        width: 50%;
        font-size: 11px;
    }

    .header-btn {
        position: absolute;
        top: 58%;
        left: -16%;
        /* transform: translate(-60px,-265px); */
        border: 2px solid transparent;
        width: 30%;
        background: transparent;
        color: red;
        font-size: 12px;
    
    }

    /*header end  */

    /* section1 start */
    .sec1 {
        /* border: 2px solid; */
        position: relative;

    }

    .sec1 .sec1-con .sec1-h4 {
        position: absolute;
        top: 20%;
        width: 50%;
        /* border: 2px solid; */
        font-size: 20px;
        padding: 0px;
    }

    .sec1 .sec1-con .sec1-p {
        position: absolute;
        top: 45%;
        /* left: -17%; */
        width: 50%;
        /* border: 2px solid; */
        font-size: 11px;
        padding: 0px;
    }
    .sec1 .sec1-con .sec1-btn{
        position: absolute;
        top: 65%;
        left: 25%;
        border: 2px solid transparent;
        width: 30%;
        background: transparent;
        color: red;
        font-size: 12px;
    }

    /* section1 end */

    /* section2 start */
    .sec2 {
        /* border: 2px solid; */
        position: relative;
        margin-top: 56px;

    }

    .sec2 .sec2-con .sec2-h4 {
        position: absolute;
        top: 20%;
        left: 3%;
        width: 50%;
        /* border: 2px solid; */
        font-size: 20px;
        padding: 0px;
    }

    .sec2 .sec2-con .sec2-p {
        position: absolute;
        top: 45%;
        left: 3%;
        width: 47%;
        /* border: 2px solid; */
        font-size: 11px;
        padding: 0px;
    }
    .sec2 .sec2-con .sec2-btn{
        position: absolute;
        top: 75%;
        left: -15%;
        border: 2px solid transparent;
        width: 30%;
        background: transparent;
        color: red;
        font-size: 12px;
    }

    /* section2 end */

      /* section3 start */
      .sec3 {
        /* border: 2px solid; */
        position: relative;
        margin-top: 56px;

    }

    .sec3 .sec3-con .sec3-h4 {
        position: absolute;
        top: 20%;
        left: 25%;
        width: 50%;
        /* border: 2px solid; */
        font-size: 20px;
        padding: 0px;
    }

    .sec3 .sec3-con .sec3-p {
        position: absolute;
        top: 37%;
        left: 25%;
        width: 47%;
        /* border: 2px solid; */
        font-size: 11px;
        padding: 0px;
    }
    .sec3 .sec3-con .sec3-btn{
        position: absolute;
        top: 55%;
        left:13%;
        border: 2px solid transparent;
        width: 30%;
        background: transparent;
        color: red;
        font-size: 12px;
    }

    /* section3 end */


    /* section4 start */
    .sec4 {
        width: 100%;
        /* border: 2px solid; */
        margin-top: -15px;
        flex-direction: row;

    }
    .sec4-img{
        width: 100%;
        /* border: 2px solid; */
        margin-right: 0px;
        
    }
    

    .sec4 .sec4-con .sec4-h4 {
        width: 100%;
        /* border: 2px solid; */
        font-size: 25px;
        padding: 10px;
        margin: 20px 0px 0px 0px;
    }

    .sec4 .sec4-con .sec4-p {
       
        width:100%;
        /* border: 2px solid; */
        font-size: 19px;
        padding: 10px;
        margin: 20px 0px 0px 0px;

    }
    .sec4 .sec4-con .sec4-btn{
        border: 2px solid transparent; 
        width: 100%;
        background: transparent;
        color: green;
        font-size: 19px;
        margin: 20px 0px 0px 0px;

    }

    /* section4 end */
    
    /* section5 start */
    .sec5 {
        /* border: 2px solid; */
        position: relative;
    }

    .sec5 .sec5-con .sec5-h4 {
        position: absolute;
        top: 3%;
        left: 0%;
        width: 100%;
        /* border: 2px solid; */
        font-size: 20px;
        padding: 0px;
    }

    .sec5 .sec5-con .sec5-p {
        position: absolute;
        top: 22%;
        left: 30%;
        width: 70%;
        /* border: 2px solid; */
        font-size: 15px;
        padding: 0px;
    
    }

    /* section5 end */

    /* section6 start */
    .sec6 .row {
        display: block;
        margin: 0px;
        /* border: 2px solid; */
        /* box-shadow: 5px 10px 10px rgba(107, 105, 105, 0.966); */
    }
   
    .sec6-h4 {
        width: 100%;
        font-size: 30px;
        color: #264228;
        font-weight: 700;
        font-family: "Montserrat";
        margin: 50px 0px 0px 0px;
        padding: 10px;
         /* border: 2px solid; */
    }
    
    .sec6-p {
        width: 100%;
        font-size: 20px;
        color: #000000;
        font-weight: 400;
        font-family: "Readex Pro";
        margin: 10px 0px 0px 0px;
        padding: 5px;
         /* border: 2px solid; */
    }
    
    .sec6-btn {
        width: 50%;
        font-size: 20px;
        color: #feffff;
        font-weight: 600;
        font-family: "Readex Pro";
        text-align: center;
        background-color: #2d6933;
        margin: 10px 0px 10px 10px;
        padding: 5px;
        border: 2px solid transparent;
    }
    
    .sec6-col {
        background: url(/image/background.png);
        background-size: cover;
        /* border: 2px solid; */
        width: 100%;
        position: relative;
        /* box-shadow:  10px 10px 10px rgba(107, 105, 105, 0.966); */
    }
    
    .form {
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        /* border: 2px solid; */
        padding: 10px 0px 0px 0px;
        font-size: 20px;
        color: #ffffff;
        font-weight: 500;
        font-family: "Readex Pro";
        margin-left: 15px;
    }
    
    .form .x {
        border: 2px solid #feffff;
        background-color: transparent;
        width: 350px;
        padding: 10px;
        font-size: 8px;
        margin-left: 5px;
    }
    .form .x1 {
        border: 2px solid #feffff  ;
        background-color: transparent;
        width: 350px;
        padding: 0px;
        font-size: 12px;
        margin-left: 5px;
    }
    .sec6-form-btn{
        /* width: 100%; */
        font-size: 15px;
        color: #feffff;
        font-weight: 600;
        font-family: "Readex Pro";
        text-align: center;
        background-color:#d14949;
        margin: 8px 0px 10px 10px;
        padding: 5px;
        border: 2px solid transparent;
    }
    /* section6 end */

    /* section7 start */
    .sec7 {
        /* border: 2px solid; */
        position: relative;
        margin-top: 56px;
        

    }

    .sec7 .sec7-con .sec7-h4 {
        position: absolute;
        top: 0%;
        left: 25%;
        width: 50%;
        /* border: 2px solid black; */
        font-size: 20px;
        padding: 0px;
    }

    .sec7 .sec7-con .sec7-p {
        position: absolute;
        top: 11%;
        left: 0%;
        width: 100%;
        /* border: 2px solid; */
        font-size: 11px;
        padding: 0px;
    }
    .sec7 .sec7-con .sec7-btn{
        position: absolute;
        top: 84%;
        left:30%;
        border: 2px solid transparent;
        width: 40%;
        background: #d14949;
        color:#feffff;
        font-size: 15px;
        padding: 5px;
    }

    /* section7 end */

    /* footer strat */
.footer {
 
    position: relative;
}

.footer-menu-h5 .footer-menu-ul {
    margin: 50px;
    list-style: none;

}

.footer-menu-h5 .footer-menu-a {
    font-size: 12px;
    color: yellow;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
    margin: 20px;
    /* border: 2px solid; */
    text-transform: uppercase;
    /* padding: 100px; */

}

.footer-menu-p {
    position: absolute;
    top: 20%;
    left: 0%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-c {
    position: absolute;
    top: 30%;
    left: 0%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-e {
    position: absolute;
    top: 40%;
    left: 0%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-b {
    position: absolute;
    top: 50%;
    left: 0%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-h4 .footer-info-ul {
    margin: 0px;
    list-style: none;
    /* border: 2px solid; */

}
.footer-info-h4 .footer-info-a {
    color: yellow;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
    margin: 0px;
    /* border: 2px solid; */
    font-size: 10px;
    text-transform: uppercase;
    /* padding: 100px; */
}
.footer-info-x {
    position: absolute;
    top: 80%;
    left: 2%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-y {
    position: absolute;
    top: 80%;
    left: 24%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-z {
    position: absolute;
    top: 80%;
    left: 38%;
    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .fac{
    /* border: 2px solid black; */
    position: absolute;
    top: 80%;
    left: 82%;
    font-size: 12px;
    background-color: black;
    color: blue;
    /* border-radius: 5px; */
    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .ins{
    /* border: 2px solid black; */
    position: absolute;
    top: 80%;
    left: 88%;
    font-size: 12px;
    background-color: black;
    color: #c51def;
    border-radius: 5px;

    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .twi{
    /* border: 2px solid black; */
    position: absolute;
    top: 80%;
    left: 94%;
    font-size: 12px;
    background-color: black;
    color:white ;
    /* padding: 0px 10px 0px 0px; */
}
/* footer end */
}

@media only screen and (max-width:576px) {}