* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* header start */
.bar {
    display: none;
}

.nav-img {
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;

}

.nav-ul .nav-li {
    /* position: absolute;
    top: 0%; */
    /* border: 2px solid; */
    display: inline-block;


}

.party {
    position: absolute;
    top: 1%;
    left: 64%;
}

.carnival {
    position: absolute;
    top: 1%;
    left: 70%;
}

.About {
    position: absolute;
    top: 1%;
    left: 78%;
}

.Contact {
    position: absolute;
    top: 1%;
    left: 85%;
}

.search {
    position: absolute;
    top: 2%;
    left: 96%;
    font-size: 25px;
    color: yellow;

}

.nav-li .nav-a {
    font-size: 25px;
    color: yellow;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
}

.header-con {
    width: 100%;
    /* border: 2px solid; */

}

.header-img {
    position: relative;
}

.header-h2 {
    width: 40%;
    position: absolute;
    top: 15%;
    /* border: 2px solid; */
    /* transform: translate(0px,-1000px); */
    font-size: 70px;
    text-transform: uppercase;
    color: #1b2f1d;
    font-weight: 700;
    font-family: "Readex Pro";
    margin: 0px 80px;
}

.header-h5 {
    /* border: 2px solid; */
    /* transform: translate(0px,-990px); */
    width: 40%;
    position: absolute;
    top: 36%;
    font-size: 28px;
    text-transform: uppercase;
    color: #d04949;
    font-weight: 600;
    font-family: "Readex Pro";
    margin: 0px 80px;
}

.header-p {
    /* border: 2px solid; */
    /* transform: translate(0px,-980px); */
    position: absolute;
    top: 40%;
    width: 40%;
    font-size: 23px;
    color: #6bbc6d;
    font-weight: 400;
    font-family: "Readex Pro";
    margin: 0px 80px;
}

.header-btn {
    /* border: 2px solid; */
    /* transform: translate(40px,-950px); */
    position: absolute;
    top: 53%;
    left: 0%;
    width: 10%;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #d04949;
    color: #ffffff;
    font-weight: 300;
    font-family: "Readex Pro";
    margin: 0px 80px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 10px;


}

/* header end */

/* section1 start */
.sec1 {
    /* border: 2px solid; */
    position: relative;
}

.sec1 .sec1-con .sec1-h4 {
    width: 50%;
    /* border: 2px solid; */
    position: absolute;
    top: 12%;
    left: 50%;
    font-size: 50px;
    color: #264228;
    font-weight: 600;
    font-family: "Readex Pro";
    padding: 40px 60px;
}

.sec1 .sec1-con .sec1-p {
    width: 40%;
    /* border: 2px solid; */
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 21px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Readex Pro";
    padding: 40px 60px;
}

.sec1 .sec1-con .sec1-btn {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 55%;
    left: 60%;
    width: 10%;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #d04949;
    color: #ffffff;
    font-weight: 300;
    font-family: "Readex Pro";
    margin: 0px 80px;
    padding: 10px;
}

/* section1 end */

/* section2 start */

.sec2 {
    /* border: 2px solid; */
    position: relative;
    margin-top: -60px;
}

.sec2 .sec2-con .sec2-h4 {
    width: 50%;
    /* border: 2px solid; */
    position: absolute;
    top: 35%;
    left: 0%;
    font-size: 50px;
    color: #264228;
    font-weight: 700;
    font-family: "Readex Pro";
    padding: 40px 60px;
}

.sec2 .sec2-con .sec2-p {
    width: 45%;
    /* border: 2px solid; */
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 21px;
    color: #0fdf16fb;
    font-weight: 500;
    font-family: "Readex Pro";
    padding: 40px 60px;
}

.sec2 .sec2-con .sec2-btn {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 75%;
    left: -2%;
    width: 10%;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #d04949;
    color: #ffffff;
    font-weight: 300;
    font-family: "Readex Pro";
    margin: 0px 80px;
    padding: 10px;
}

/* section2 end */

/* section3 start */

.sec3 {
    /* border: 2px solid; */
    position: relative;
    margin-top: -60px;
}

.sec3 .sec3-con .sec3-h4 {
    width: 50%;
    /* border: 2px solid; */
    position: absolute;
    top: 18%;
    left: 25%;
    font-size: 45px;
    color: #838181;
    font-weight: 800;
    font-family: "Montserrat";
    padding: 40px 60px;
    text-transform: uppercase;
    text-align: center;
}

.sec3 .sec3-con .sec3-p {
    width: 50%;
    /* border: 2px solid; */
    position: absolute;
    top: 31%;
    left: 25%;
    font-size: 25px;
    color: #2d6933;
    font-weight: 500;
    font-family: "Readex Pro";
    padding: 40px 60px;
    text-align: center;
}

.sec3 .sec3-con .sec3-btn {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 53%;
    left: 28%;
    width: 10%;
    font-size: 17px;
    text-transform: uppercase;
    background-color: #d04949;
    color: #ffffff;
    font-weight: 300;
    font-family: "Readex Pro";
    margin: 0px 80px;
    padding: 10px;
}

/* section3 end */

/* section4 start */

.sec4 {
    display: flex;
    /* border: 2px solid; */
    /* position: relative; */
    margin-top: -90px;
    background: url(/image/background.png);
    background-size: cover;

}

.sec4-img {
    /* border: 2px solid; */
    margin-right: 200px;
}

.sec4 .sec4-con .sec4-h4 {
    /* border: 2px solid; */
    width: 60%;
    font-size: 48px;
    color: #1b2f1d;
    font-weight: 600;
    font-family: "Readex Pro";
    margin: 90px 0px 0px 100px;
    padding: 40px 60px;

}

.sec4 .sec4-con .sec4-p {
    width: 60%;
    /* border: 2px solid; */
    font-size: 21px;
    color: #e1b52c;
    font-weight: 500;
    font-family: "Readex Pro";
    margin: -30px 0px 0px 100px;
    padding: 40px 60px;

}

.sec4 .sec4-con .sec4-btn {
    border: 2px solid transparent;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 19px;
    background-color: green;
    color: #ffffff;
    font-weight: 500;
    font-family: "Readex Pro";
    text-align: center;
    margin: 30px 0px 20px 250px;
    padding: 10px;
}

/* section4 end */

/* section5 start */

.sec5 {
    /* border: 2px solid; */
    position: relative;

}

.sec5 .sec5-con .sec5-h4 {
    width: 70%;
    /* border: 2px solid; */
    position: absolute;
    top: 10%;
    left: 15%;
    font-size: 40px;
    color: #e2b62c;
    font-weight: 600;
    font-family: "Readex Pro";
    padding: 40px 60px;
    text-transform: uppercase;
    text-align: center;
}

.sec5 .sec5-con .sec5-p {
    width: 60%;
    /* border: 2px solid; */
    position: absolute;
    top: 25%;
    left: 20%;
    font-size: 21px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Readex Pro";
    padding: 40px 60px;
    text-align: center;


}

/* section5 end */

/* section6 start */

.sec6 .row {
    display: flex;
    gap: 10px;
    margin: 40px;
}

.sec6-col {
    width: 50%;
    /* border: 2px solid; */
    box-shadow: 2px 5px 5px rgba(107, 105, 105, 0.966);
}

.sec6-col .form {
    width: 10%;
}

.sec6-col {
    background: url(/image/background.png);
    background-size: cover;
}

.sec6-h4 {
    width: 100%;
    font-size: 50px;
    color: #264228;
    font-weight: 700;
    font-family: "Montserrat";
    /* border: 2px solid; */
    margin: 90px 0px 0px 0px;
    padding: 20px;
}

.sec6-p {
    width: 100%;
    font-size: 25px;
    color: #000000;
    font-weight: 400;
    font-family: "Readex Pro";
    /* border: 2px solid; */
    margin: 10px 0px 0px 0px;
    padding: 20px;
}

.sec6-btn {
    width: 20%;
    font-size: 19px;
    color: #feffff;
    font-weight: 600;
    font-family: "Readex Pro";
    text-align: center;
    background-color: #2d6933;
    margin: 10px 0px 0px 10px;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.sec6-col {
    /* border: 2px solid; */
    width: 100%;
    position: relative;
}

.form {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    /* border: 2px solid; */
    padding: 20px 0px 0px 0px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Readex Pro";
}

.form .x {
    border: 2px solid white;
    background-color: transparent;
    width: 500px;
    padding: 10px;
    font-size: 20px;
}

.form .x1 {
    border: 2px solid white;
    background-color: transparent;
    width: 500px;
    padding: 10px;
    font-size: 20px;
}

.sec6-form-btn {
    /* width: 100%; */
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: 0%;
    border: 2px solid;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Readex Pro";
    text-align: center;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
    box-shadow: 0px 4px 6px #d14949;
}

/* section6 end */

/* section7 start */

.sec7 {
    /* border: 2px solid; */
    position: relative;
    margin-top: 60px;
}

.sec7 .sec7-con .sec7-h4 {
    width: 100%;
    /* border: 2px solid black; */
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Readex Pro";
    padding: 20px 60px;
    text-transform: uppercase;
    text-align: center;
}

.sec7 .sec7-con .sec7-p {
    width: 60%;
    /* border: 2px solid; */
    position: absolute;
    top: 10%;
    left: 20%;
    font-size: 21px;
    color: #2d6933;
    font-weight: 400;
    font-family: "Readex Pro";
    padding: 40px 60px;
    text-align: center;
}

.sec7 .sec7-con .sec7-btn {
    border: 2px solid transparent;
    border-radius: 10px;
    position: absolute;
    top: 90%;
    left: 45%;
    width: 10%;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #d04949;
    color: #ffffff;
    font-weight: 300;
    font-family: "Readex Pro";
    margin: 0px 0px;
    padding: 10px;
}

/* section7 end */

/* footer strat */
.footer {
    /* border: 2px solid; */
    position: relative;
    margin-top: 30px;
}

.footer-menu-h5 .footer-menu-ul {
    margin: 50px;
    list-style: none;
    /* border: 2px solid; */

}

.footer-menu-h5 .footer-menu-a {
    color: yellow;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
    margin: 20px;
    /* border: 2px solid; */
    font-size: 30px;
    text-transform: uppercase;
    /* padding: 100px; */

}

.footer-menu-p {
    position: absolute;
    top: 25%;
    left: 10%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-c {
    position: absolute;
    top: 35%;
    left: 10%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-e {
    position: absolute;
    top: 45%;
    left: 10%;
    /* padding: 0px 10px 0px 0px; */
}

.footer-menu-b {
    position: absolute;
    top: 55%;
    left: 10%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-h4 .footer-info-ul {
    margin: 50px;
    list-style: none;
    /* border: 2px solid; */

}
.footer-info-h4 .footer-info-a {
    color: yellow;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: right;
    text-decoration: none;
    margin: 20px;
    /* border: 2px solid; */
    font-size: 30px;
    text-transform: uppercase;
    /* padding: 100px; */
}
.footer-info-x {
    position: absolute;
    top: 80%;
    left: 5%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-y {
    position: absolute;
    top: 80%;
    left: 25%;
    /* padding: 0px 10px 0px 0px; */
}
.footer-info-z {
    position: absolute;
    top: 80%;
    left: 37%;
    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .fac{
    border: 2px solid black;
    position: absolute;
    top: 80%;
    left: 82%;
    font-size: 40px;
    background-color: black;
    color: blue;
    border-radius: 5px;
    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .ins{
    border: 2px solid black;
    position: absolute;
    top: 80%;
    left: 88%;
    font-size: 40px;
    background-color: black;
    color: #c51def;
    border-radius: 5px;

    /* padding: 0px 10px 0px 0px; */
}
.foot-info-icons .twi{
    border: 2px solid black;
    position: absolute;
    top: 80%;
    left: 94%;
    font-size: 40px;
    background-color: black;
    color:white ;
    border-radius: 5px;

    /* padding: 0px 10px 0px 0px; */
}

/* footer end */